// Main Colors
$color-primary: #5b86e5 !default;
$color-secondary: #36d1dc !default;

// Custom Colors
$color-custom1: #cf000f !default;
$color-custom2: #e87e04 !default;
$color-custom3: #8c14fc !default;
$color-custom4: #4d05e8 !default;

// Preloader Color
$color-preloader-bg: #5b86e5 !default;
$color-preloader-loader: #ffffff !default;

// Body Font Color
$color-body-font: #333333 !default;

// Header Font Color
$color-header: #333333 !default;

// Icons Color
$color-icon: #ffffff !default;

// Text Colors
$light: #ffffff;
$dark: #000000;
$link: #404873;


// Brand color
$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-instagram: #C32997;
$color-github: #333;
$color-google: #dc4e41;
$color-linkedin: #0077b5;
$color-messenger: #0084ff;
$color-rss: #f26522;
