// Footer background
@keyframes fooanibg {
    from {
        background-position: 0px;
    }

    to {
        background-position: -300px;
    }
}

// Play Button

@keyframes playbutton {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
    }
}



// Tossing 
@keyframes float-tossing {
    0% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(-6deg);
    }
}

.ani-float-tossing {
    animation: float-tossing 3s ease-in-out infinite;
}

// Tossing 
@keyframes float-pulse {
    0% {
        transform: scale(.9);
        opacity: .7;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(.9);
        opacity: .7;
    }
}

.ani-float-pulse {
    animation: float-pulse 3s ease-in-out infinite;
}

// Float Horizontal
@keyframes float-h {
	0% {
        // transform: translateY(0px);
        top: 0px;
	}
	50% {
        // transform: translateY(-20px);
        top: -20px;
	}
	100% {
        // transform: translateY(0px);
        top: 0px;
	}
}

.ani-float-h {
    animation: float-h 3s ease-in-out infinite;
}

// Float Vertical
@keyframes float-v {
	0% {
        // transform: translateY(0px);
        left: 0px;
	}
	50% {
        // transform: translateY(-20px);
        left: -20px;
	}
	100% {
        // transform: translateY(0px);
        left: 0px;
	}
}
.ani-float-v {
    animation: float-v 3s ease-in-out infinite;
}


// Preloader 1 

@keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

// Preloader 2 

@keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
    }
  }

// Preloader 3


@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
    }
  }

// Preloader 4

@keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
    }
  }




// Preloader 5 

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      transform: scale(0);
    } 40% { 
      transform: scale(1.0);
    }
  }


// Preloader 6 

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
              transform: scale3D(1, 1, 1);
    } 35% {
              transform: scale3D(0, 0, 1);
    } 
  }

// Preloader 7

@keyframes sk-foldCubeAngle {
    0%, 10% {
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }