/*-----------------------
    Max Width
------------------------*/

.max-w100 {
    max-width: 100px;
}

.max-w150 {
    max-width: 150px;
}

.max-w200 {
    max-width: 200px;
}

.max-w250 {
    max-width: 250px;
}

.max-w300 {
    max-width: 300px;
}

.max-w350 {
    max-width: 350px;
}

.max-w400 {
    max-width: 400px;
}

.max-w450 {
    max-width: 450px;
}

.max-w500 {
    max-width: 500px;
}

.max-w550 {
    max-width: 550px;
}

.max-w600 {
    max-width: 600px;
}

/*-----------------------
    Min Width
------------------------*/


.min-w100 {
    min-width: 100px;
}

.min-w150 {
    min-width: 150px;
}

.min-w200 {
    min-width: 200px;
}

.min-w250 {
    min-width: 250px;
}

.min-w300 {
    min-width: 300px;
}

.min-w350 {
    min-width: 350px;
}

.min-w400 {
    min-width: 400px;
}

.min-w450 {
    min-width: 450px;
}

.min-w500 {
    min-width: 500px;
}

.min-w550 {
    max-width: 550px;
}

.min-w600 {
    max-width: 600px;
}